<h1 style="text-align:center">New Company</h1>

<%= render 'form', company: @company %>

<div class="col-md-offset-4 col-xs-4"><%= link_to 'Back', companies_path,class: "btn btn-info btn-block"%></div>
