<p id="notice"><%= notice %></p>

<h1>Technologies</h1>

<%= select_tag(:company_tech_index, options_for_select(Company.all.map {|p| [p.name, p.uuid]} ), include_blank: 'Select Company') %>
</br>
</br>
<div id='technology_list'>
</div>

<%= link_to 'New Technology', new_technology_path %>
