<h1 style="text-align:center">New Technology</h1>

<%= render 'form', technology: @technology %>

<div class="col-md-offset-4 col-xs-4"><%= link_to 'Back', technologies_path ,class: "btn btn-info btn-block"%></div>

