<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<%= select_tag(:company_selected_index_category, options_for_select(Company.all.map {|p| [p.name, p.uuid] }),include_blank: 'Select Company') %>
</br>
<div id="categories">
</div>
<br>


<%= link_to 'New Category', new_category_path %>
